streamlit
openai
langdetect
deep-translator
joblib
scikit-learn
streamlit-webrtc
streamlit>=1.20.0
numpy
pandas
transformers
torch # Or tensorflow, depending on your choice
supabase>=1.0.0 # Or the specific version you prefer
psycopg2-binary # If connecting directly via psycopg2